.card {
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-between;
    
  }
  .insidecard {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */

  }